@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
body {
  min-width: 320px;
  color: #1A2334;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 0 10px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.title span {
  color: #8EBD00;
}

.header {
  background-image: url(../images/warranty-header__bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 330px;
}

.menu__adaptive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 49, 72, 0.9);
  padding: 15px;
  min-height: 398px;
  z-index: 50;
}

.menu__adaptive.menu__adaptive--close {
  display: none;
}

.menu__adaptive .adaptive__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  padding-bottom: 15px;
}

.menu__adaptive .adaptive__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__adaptive .menu__adaptive-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 229.4%;
  text-align: center;
  color: #FFFFFF;
}

.menu__adaptive .menu__adaptive-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu__adaptive .menu__adaptive-list .menu__adaptive-item {
  margin-top: 15px;
}

.menu__adaptive .menu__adaptive-list .menu__adaptive-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: #FFFFFF;
}

.menu__adaptive .menu__adaptive-list .menu__adaptive-link:hover {
  font-weight: 900;
}

.header__inner {
  position: relative;
}

.header__inner .header__decor {
  display: none;
}

.header__inner-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__inner-menu .menu__list {
  display: none;
}

.header__inner .logo__link {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__inner .logo__link span {
  color: #CEF751;
}

.header__inner .menu__btn {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 60px 0 !important;
}

.header__title .header__subtitle {
  font-weight: 500;
  font-size: 14px !important;
  line-height: 17px !important;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .logo .logo__link {
    font-size: 34px;
  }
  .content__title {
    font-size: 60px !important;
  }
  .content__text {
    font-size: 16px !important;
    margin: 30px 0 !important;
  }
  .content__button .content__btn {
    padding: 20px 24px !important;
  }
  .menu__list {
    display: flex !important;
    justify-content: space-between;
  }
  .menu__list .menu__list-item {
    margin-left: 20px;
  }
  .menu__list .menu__list-item .menu__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #CBCBCB;
    text-decoration: none;
  }
  .menu__list .menu__list-item .menu__list-link:hover {
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 2px #CEF751 solid;
  }
  .menu__list .menu__list-item .menu__list-link:active {
    font-weight: 900;
  }
  .menu__list .menu__list-item:first-child {
    margin-left: 0;
  }
  .menu {
    display: none;
  }
  .header__title {
    font-weight: 900;
    font-size: 55px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 60px 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .menu__list-item {
    margin-left: 20px;
  }
  .menu__list-item .menu__list-link {
    font-weight: 500;
    font-size: 16px !important;
    line-height: 22px;
    color: #CBCBCB;
    text-decoration: none;
  }
  .menu__list-item .menu__list-link:hover {
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 2px #CEF751 solid;
  }
  .header__title {
    font-weight: 900;
    font-size: 65px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 60px 0 !important;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    min-height: 482px;
  }
  .logo .logo__link {
    font-size: 58px !important;
    line-height: 71px !important;
  }
  .container {
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .menu__list {
    position: relative !important;
    z-index: 10 !important;
  }
  .menu__list .menu__list-item .menu__list-link {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .header__title {
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 60px 0 !important;
  }
}

.main__inner {
  background-color: #fff;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 8px;
  margin-top: -40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main__inner-block .main__inner-title {
  text-align: center;
}

.main__inner-block .feedback__form {
  border-bottom: 1px solid #EDEDED;
  padding: 20px 0 30px 0;
}

.main__inner-block .feedback__form input:focus,
.main__inner-block .feedback__form textarea:focus {
  outline: none;
}

.main__inner-block .feedback__form .feedback__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main__inner-block .feedback__form .feedback__input-item {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 290px;
  height: 51px;
  margin-bottom: 15px;
}

.main__inner-block .feedback__form .feedback__input-item::placeholder {
  padding: 17px 20px;
}

.main__inner-block .feedback__form .feedback__textarea {
  width: 100%;
  max-height: 212px;
  margin: 0 auto;
}

.main__inner-block .feedback__form .feedback__textarea textarea {
  padding: 0;
  width: 100%;
  height: 212px;
  resize: none;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.main__inner-block .feedback__form .feedback__test {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__inner-block .feedback__form .feedback__test .feedback__test-item {
  display: flex;
  align-items: center;
}

.main__inner-block .feedback__form .feedback__test .feedback__test-item img {
  width: 138px;
  height: 54px;
}

.main__inner-block .feedback__form .feedback__test .feedback__test-item .feedback__test-input {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 137px;
  height: 38px;
  margin-left: 15px;
}

.main__inner-block .feedback__form .feedback__test .feedback__test-item .feedback__test-input::placeholder {
  padding: 10px;
}

.main__inner-block .feedback__form .feedback__test .feedback__btn {
  margin-top: 15px;
  background: #CEF751;
  box-shadow: 0px 0px 18px rgba(206, 247, 81, 0.3), 0px 1px 0px #8EBD00;
  border-radius: 40px;
  border: none;
  padding: 12px 35px;
  margin-left: 15px;
  cursor: pointer;
}

.main__inner-block .feedback__comments-title {
  margin: 30px 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.main__inner-block .feedback__comments-title span {
  font-weight: 700;
}

.main__inner-block .feedback__comments-block {
  background: #F9F9F9;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 18px 10px;
  margin-top: 25px;
}

.main__inner-block .feedback__comments-block:first-child {
  margin-top: 0;
}

.main__inner-block .feedback__comments-block .feedback__block-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-photo {
  width: 20%;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-photo img {
  width: 100%;
  height: 100%;
  min-width: 74px;
  min-height: 74px;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-info {
  width: 100%;
  margin-left: 30px;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-info .feedback__header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-info .feedback__header-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 5px;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-info .feedback__header-date {
  display: flex;
  font-size: 10px;
  line-height: 15px;
  color: #757575;
}

.main__inner-block .feedback__comments-block .feedback__block-header .feedback__header-info .feedback__header-date .feedback__date-day {
  border-right: 1px solid #D9D9D9;
  padding-right: 10px;
  margin-right: 10px;
}

.main__inner-block .feedback__comments-block .feedback__text {
  display: none;
  border-top: 1px solid #D9D9D9;
  margin-top: 15px;
  padding-top: 15px;
}

.main__inner-block .feedback__comments-block .feedback__main-text {
  border-top: 1px solid #D9D9D9;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}

.main__inner-block .feedback__comments-block .feedback__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main__inner-block .feedback__comments-block .feedback__button .feedback__report-btn {
  border: 1px solid #1A2334;
  background: #fff;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 10px 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #383838;
  cursor: pointer;
}

.main__inner-block .feedback__comments-block .feedback__button .feedback__answer-btn {
  border: 1px solid #1A2334;
  background: #1A2334;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 10px 26px;
  margin-left: 20px;
  cursor: pointer;
}

.main__inner-block .nav__pages-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.main__inner-block .nav__pages-block .nav__pages-item {
  background: #F3F3F3;
  border-radius: 3px;
  width: 29px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.main__inner-block .nav__pages-block .nav__pages-arrow {
  margin-left: 20px;
  margin-right: 10px;
}

.main__inner-block .nav__pages-block .nav__pages-arrow:first-child {
  margin-left: 0;
}

.main__inner-block .nav__pages-block .nav__pages-arrow:last-child {
  margin-right: 0;
}

@media screen and (min-width: 576px) {
  .feedback__textarea {
    margin: 20px 0 !important;
  }
  .feedback__test-item img {
    width: 148px !important;
    height: 60px !important;
  }
  .feedback__test-item .feedback__test-input {
    width: 157px !important;
    height: 29px !important;
    padding: 10px 15px !important;
  }
  .main__inner-title {
    margin: 20px 0 !important;
    font-size: 22px !important;
    line-height: 20px !important;
  }
  .feedback__comments-title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .feedback__input-item {
    width: 350px !important;
    height: 60px !important;
  }
  .feedback__form {
    max-width: 980px !important;
    margin: 0 auto;
  }
  .feedback__test {
    justify-content: space-between !important;
  }
  .feedback__btn {
    margin-top: 15px;
    padding: 14px 37px !important;
    margin-left: 15px;
  }
  .feedback__comments-title {
    margin: 35px 0 !important;
    text-align: left !important;
  }
  .feedback__comments-block {
    padding: 20px 14px !important;
  }
  .feedback__main-text {
    display: none;
  }
  .feedback__text {
    display: block !important;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
  }
  .feedback__block-header {
    display: flex;
    align-items: flex-start !important;
    width: 100%;
  }
  .feedback__header-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  .feedback__header-date {
    display: flex;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #757575;
  }
  .feedback__header-date .feedback__date-day {
    border-right: 1px solid #D9D9D9;
    padding-right: 14px !important;
    margin-right: 15px !important;
  }
  .feedback__button {
    justify-content: flex-end !important;
    margin-top: 20px;
  }
  .feedback__button .feedback__report-btn {
    font-size: 16px !important;
    line-height: 19px !important;
  }
  .feedback__button .feedback__answer-btn {
    font-size: 16px !important;
    line-height: 19px !important;
  }
}

@media screen and (min-width: 768px) {
  .feedback__textarea {
    margin: 20px 0 !important;
  }
  .feedback__test-item img {
    width: 140px !important;
    height: 60px !important;
  }
  .feedback__test-item .feedback__test-input {
    width: 157px !important;
    height: 29px !important;
    padding: 10px 15px !important;
  }
  .feedback__btn {
    box-shadow: 0px 0px 12px rgba(206, 247, 81, 0.3), 0px 2px 0px #8EBD00 !important;
  }
  .main__inner-title {
    margin: 30px 0 !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }
  .feedback__input-item {
    width: 350px !important;
    height: 60px !important;
  }
  .feedback__input-item:last-child {
    margin-left: 15px;
  }
  .feedback__comments-title {
    margin: 40px 0 !important;
    font-size: 24px !important;
    line-height: 24px !important;
  }
  .feedback__comments-block {
    padding: 24px 20px !important;
  }
  .feedback__main-text {
    display: none;
  }
  .feedback__text {
    display: block !important;
    font-size: 16px;
    line-height: 23px;
    color: #757575;
  }
  .feedback__block-header {
    display: flex;
    align-items: flex-start !important;
    width: 100%;
  }
  .feedback__header-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  .feedback__header-date {
    display: flex;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #757575;
  }
  .feedback__header-date .feedback__date-day {
    border-right: 1px solid #D9D9D9;
    padding-right: 16px !important;
    margin-right: 20px !important;
  }
  .feedback__button {
    justify-content: flex-end !important;
    margin-top: 20px;
  }
  .feedback__button .feedback__report-btn {
    font-size: 16px !important;
    line-height: 21px !important;
  }
  .feedback__button .feedback__answer-btn {
    font-size: 16px !important;
    line-height: 21px !important;
  }
}

@media screen and (min-width: 992px) {
  .feedback__textarea {
    margin: 25px 0 !important;
  }
  .feedback__test-item img {
    width: 140px !important;
    height: 60px !important;
  }
  .feedback__test-item .feedback__test-input {
    width: 187px !important;
    height: 39px !important;
    padding: 13px 17px !important;
  }
  .feedback__btn {
    box-shadow: 0px 0px 12px rgba(206, 247, 81, 0.3), 0px 3px 0px #8EBD00 !important;
  }
  .main__inner-title {
    margin: 50px 0 !important;
    font-size: 26px !important;
    line-height: 32px !important;
  }
  .feedback__input-item {
    width: 380px !important;
    height: 65px !important;
  }
  .feedback__input-item:last-child {
    margin-left: 20px;
  }
  .feedback__comments-title {
    margin: 50px 0 !important;
    font-size: 26px !important;
    line-height: 30px !important;
  }
  .feedback__comments-block {
    padding: 26px 24px !important;
  }
  .feedback__main-text {
    display: none;
  }
  .feedback__text {
    display: block !important;
    font-size: 18px;
    line-height: 26px;
    color: #757575;
  }
  .feedback__block-header {
    display: flex;
    align-items: flex-start !important;
    width: 100%;
  }
  .feedback__header-name {
    font-weight: bold;
    font-size: 18px !important;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .feedback__header-date {
    display: flex;
    font-size: 18px !important;
    line-height: 24px !important;
    color: #757575;
  }
  .feedback__header-date .feedback__date-day {
    border-right: 1px solid #D9D9D9;
    padding-right: 18px !important;
    margin-right: 20px !important;
  }
  .feedback__button {
    justify-content: flex-end !important;
    margin-top: 20px;
  }
  .feedback__button .feedback__report-btn {
    font-size: 18px !important;
    line-height: 21px !important;
  }
  .feedback__button .feedback__answer-btn {
    font-size: 18px !important;
    line-height: 21px !important;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__textarea {
    margin: 30px 0 !important;
  }
  .feedback__test-item img {
    width: 160px !important;
    height: 80px !important;
  }
  .feedback__test-item .feedback__test-input {
    width: 217px !important;
    height: 59px !important;
    padding: 17px 20px !important;
  }
  .feedback__btn {
    box-shadow: 0px 0px 18px rgba(206, 247, 81, 0.3), 0px 4px 0px #8EBD00 !important;
  }
  .main__inner-title {
    margin: 60px 0 !important;
    font-size: 30px !important;
    line-height: 37px !important;
  }
  .feedback__input-item {
    width: 475px !important;
    height: 75px !important;
  }
  .feedback__input-item:last-child {
    margin-left: 30px;
  }
  .feedback__comments-title {
    margin: 60px 0 !important;
    font-size: 30px !important;
    line-height: 37px !important;
  }
  .feedback__comments-block {
    padding: 30px 30px !important;
  }
  .feedback__main-text {
    display: none;
  }
  .feedback__text {
    display: block !important;
    font-size: 20px;
    line-height: 29px;
    color: #757575;
  }
  .feedback__block-header {
    display: flex;
    align-items: flex-start !important;
    width: 100%;
  }
  .feedback__header-name {
    font-weight: bold;
    font-size: 20px !important;
    line-height: 29px !important;
    margin-bottom: 5px;
  }
  .feedback__header-date {
    display: flex;
    font-size: 20px !important;
    line-height: 29px !important;
    color: #757575;
  }
  .feedback__header-date .feedback__date-day {
    border-right: 1px solid #D9D9D9;
    padding-right: 20px !important;
    margin-right: 29px !important;
  }
  .feedback__button {
    justify-content: flex-end !important;
    margin-top: 20px;
  }
  .feedback__button .feedback__report-btn {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .feedback__button .feedback__answer-btn {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}

.footer {
  margin-top: 40px;
  background: #1A2334;
  padding: 30px 0;
}

.footer .footer__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .footer__inner .footer__inner-menu .footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer__inner .footer__inner-menu .footer__menu-list .footer__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #CBCBCB;
  text-decoration: none;
}

.footer .footer__inner .footer__inner-menu .footer__menu-list .footer__menu-link:hover {
  color: #fff;
}

.footer .footer__inner .footer__inner-social {
  margin: 30px 0;
}

.footer .footer__inner .footer__inner-social .social__inner {
  display: flex;
}

.footer .footer__inner .footer__inner-social .social__inner img {
  width: 28px;
  height: 28px;
}

.footer .footer__inner .footer__inner-social .social__inner .content__social-instagram {
  margin: 0 30px;
}

.footer .footer__inner .footer__inner-author {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #AEAEAE;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 60px;
  }
  .footer__menu-list {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }
  .footer__menu-item {
    margin-left: 30px;
  }
  .footer__menu-item:first-child {
    margin-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    margin-top: 80px;
  }
  .footer__menu-link {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .footer__inner-social img {
    width: 40px !important;
    height: 40px !important;
  }
  .footer__inner-author {
    font-size: 18px !important;
    line-height: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 100px;
  }
}
