// INPORTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

// MIXINS 

@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
}

// VARIABLES

$text-color: #1A2334;


// COMMON SYLES 

body {
    min-width: 320px;
    color: $text-color;
    @include montserrat();
}

.container {
    padding: 0 10px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    
    span {
        color:#8EBD00;
    }
}

// HEADER 

.header-bank__pages {
    background-image: url(../images/warranty-header__bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.menu__adaptive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(30, 49, 72, 0.9);
    padding: 15px;
    min-height: 398px;
    z-index: 50;

    &.menu__adaptive--close {
       display: none;
    }

    .adaptive__inner {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
        padding-bottom: 15px;
    }

    .adaptive__btn {
        background: none;
        border: none;
        cursor: pointer;
    }

    .menu__adaptive-logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 229.4%;
        text-align: center;
        color: #FFFFFF;
    }

    .menu__adaptive-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .menu__adaptive-item {
            margin-top: 15px;
        }
        .menu__adaptive-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            text-decoration: none;
            color: #FFFFFF;

            &:hover {
                font-weight: 900;
            }
        }
    }
}

.header__inner {
    position: relative;
    .header__decor {
        display: none;
    }
    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .menu__list {
            display: none;
        }
    }

    .logo {

        &__link {
            font-weight: 900;
            font-size: 26px;
            line-height: 32px;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;

            span {
                color: #CEF751;
            }

        }
    }

    .menu {
        
        &__btn {
            border: none;
            background: none;
            padding: 0;
            display: flex;
            align-items: center;
        }
    }
}
.header__bank {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__bank-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 15px;
    margin-top: 80px;
    margin-bottom: 30px;

    span {
        color:#CEF751;
       
    }
}

.header__bank-img {
    max-width: 462px;
    max-height: 178px;
    margin-bottom: 30px;
}
.header__bank-button {
    display: flex;
    align-items: center;
    justify-content: center;
    .header__bank-btn {
        background: #CEF751;
        box-shadow: 0px 0px 18px rgba(206, 247, 81, 0.3), 0px 4px 0px #8EBD00;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        padding: 12px 15px;
    }
}

@media screen and (min-width: 768px) {

    .logo {
        .logo__link {
            font-size: 34px;
        }
    }
    .content__title {
        font-size: 60px !important;
    }

    .content__text {
        font-size: 16px !important;
        margin: 30px 0 !important;
    }
    .content__button {

        .content__btn {
            padding: 20px 24px !important;
        }
    }
    .menu__list {
        display: flex !important;
        justify-content: space-between;

        .menu__list-item {
            margin-left: 20px;

            .menu__list-link {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #CBCBCB;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    padding-bottom: 20px;
                    border-bottom: 2px #CEF751 solid;
                }

                &:active {
                    font-weight: 900;
                }
            }
        }

        .menu__list-item:first-child {
            margin-left: 0;
        }
    }

    .menu {
        display: none;
    }

   
    .header__title {
        font-weight: 900;
        font-size: 30px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 60px 0!important;
    }

    .header__bank-btn {
        padding: 20px 25px !important;
    }
}


@media screen and (min-width: 992px) {
    .menu__list-item {
        margin-left: 20px;

        .menu__list-link {
            font-weight: 500;
            font-size: 16px !important;
            line-height: 22px;
            color: #CBCBCB;
            text-decoration: none;

            &:hover {
                color: #fff;
                padding-bottom: 20px;
                border-bottom: 2px #CEF751 solid;
            }
        }
    }

   
    .header__title {
        font-weight: 900;
        font-size: 30px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 60px 0!important;
    }

    .header__bank-btn {
        padding: 27px 32px !important;
    }
}


@media screen and (min-width: 1200px) {
    .header-bank__pages {
        height: 100vh !important;
    }
    .logo {
        .logo__link {
            font-size: 58px !important;
            line-height: 71px !important;
        }
    }
    .container {
        max-width: 1380px;
        padding: 0 20px;
        margin: 0 auto;
    }
   
    .menu__list {
        position: relative !important;
        z-index: 10 !important;
        .menu__list-item {

            .menu__list-link {
                font-size: 18px !important;
                line-height: 22px !important;
            }
        }
    }

    
    .header__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 60px 0!important;
    }
}




